.form-container {
    padding: 2rem;
    border-radius: 25px;
    background: $background-light;

    .description {
        padding-block: 1rem;
        &-big {
            font-weight: bold;
            margin-bottom: 1rem;
        }
    }

    &.unauth {
        width: 50%;
        margin-right: auto;
        margin-left: auto;
    }

    &.auth {
        margin-inline: 2rem;
    }
}

.remember {
    &-container {
        display: flex;
        align-items: center;
    }

    &-check {
        margin-left: 0.5rem;
    }
}

.submit {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 2rem;

    .link {
        margin-bottom: 1rem;
    }
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.error-msg {
    color: $danger-red;
}

.info-text {
    margin-bottom: 1rem;
}