// @import './_breakpoints.scss';
@import './_base.scss';

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: $background;

}